.box {
  border: 1px solid var(--light);
  margin-top: 0.5em;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 0.4em;
}

.box button {
  margin-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid var(--light);
  background-image: linear-gradient(white, var(--light));
  cursor: pointer;
  color: var(--primary);
}

.box button:active {
  background-image: linear-gradient(var(--light), white);
}
