.app {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5em;
  padding-bottom: 2em;
}

.app nav {
  margin-bottom: 2em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid var(--light);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app nav h1 {
  font-size: 2em;
}

.app nav .menu {
  display: none;
}

.app nav > div {
  display: flex;
  align-items: center;
}

.app nav div .badge {
  margin-bottom: -4px;
}

.app nav a {
  color: var(--gray);
  font-weight: 500;
  margin-left: 0.8em;
}

.app main {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  width: 150px;
  padding-top: 2em;
}

.sidebar ul {
  position: fixed;
}

.sidebar li {
  color: var(--primary);
}

.sidebar a {
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
}

.sidebar a:hover {
  color: var(--primary);
}

.sidebar a.active {
  font-weight: bold;
}

section {
  max-width: 600px;
  width: 100%;
  padding-left: 1em;
}

img {
  width: 100%;
  margin-top: 0.5em;
}

img.badge {
  margin: 0;
  max-height: 16px;
  display: inline;
  width: auto;
}

@media (max-width: 450px) {
  .app nav {
    padding-top: 0;
    padding-left: 0.6em;
    padding-right: 0.6em;
    margin-bottom: 0.6em;
  }
  .app nav h1 {
    font-size: 1.2em;
    margin-left: 0.4em;
  }
  .app nav .menu {
    display: initial;
  }
  .app nav a {
    font-size: 12px;
  }
  .app .sidebar {
    position: fixed;
    transition: 0.3s ease;
    top: 0;
    z-index: 1;
    background-color: white;
    box-shadow: 5px 1px 10px -10px var(--dark);
    padding: 1em;
    height: 100%;
  }
  .sidebar ul {
    position: relative;
  }

  section {
    padding-left: 0.6em;
    padding-right: 0.6em;
  }
}
